# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/wireframes

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#files
BackToTop.css
 BackToTop.js
 CreateNewMessage.css	
 CreateNewMessage.js	
 DeleteUserButton.js	
 LogOut.js	
 LoginForm.css	
 LoginForm.js	
 Message.css	
 Message.js		
 RegisterForm.css		
 RegisterForm.js	
 Sidebar.css	
 Sidebar.js	 
 TopMenu.css		
 TopMenu.js	 
 UpdateProfile.css	
 UpdateProfile.js	 
 UserDescription.js	
 UserInfo.css	 
 UserInfo.js	 
 UserInfoBlock.js	
 UserList.css		
 UserProfile.css	
 UserProfile.js	
 index.js