.ant-card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.userpost {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}
.timestamp {
    font-style: italic;
    font-size: 8pt;
    display: flex;
    justify-content: flex-end;
}
 