#menu {
  display: flex;
  justify-content: center;
  padding: 0 1em;
  margin: 1% 0;
}
.ant-menu-item {
  /* border: 1px solid red; */
  /* background-color: blue; */
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
}



/* #tabMenu {
  display: flex;
  flex-direction: row;
} */

/* #menu-links {
  display: flex;
  padding-left: 1em;
}

#menu-links a {
  padding-right: 0.5em;
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
} */
